body{
    background-image: url(background\ about.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

    img{
        width: 70px;
            display: inline-block;
          padding: 0px;
            margin: 0px;
        
        }
    .navbar ul{
        list-style-type: none;
        background-color: hsl(0, 0%, 25%);
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
    .navbar a{
        color: white;
        text-decoration: none;
        padding: 10px;
        display: block;
       
        font-size: 38px;
    }
    .navbar a:hover{
        background-color: hsl(0, 0%, 10%);
    }
    .navbar li{
        float: left;
        margin-left: 15px;
    }
    h1{
        font-size: 30px;
        color: white;
background-color: black;
margin-left: 300px;
width: 850px;   
    }
    h4{
        font-size: 30px;
        color: white;
background-color: black;
margin-left: 300px;
width: 850px;   
    }
    p{
        font-size: 30px;
        color: white;
background-color: hsl(0, 0%, 25%);
margin-left: 300px;
width: 850px;
    }
    ul{
        font-size: 30px;
        color: white;
background-color: hsl(0, 0%, 25%);
margin-left: 300px;
width: 850px;
    }